/**
 * Variables for components theme configurable.
 *
 * This CSS will be isolated in the components. And it will
 * provide a default theme, while allowing the user to override
 * it with variables in CSS outside of the components.
 */

/* noinspection CssUnresolvedCustomProperty */
:host {
  /* Default color triplets (can NOT be write in default argument of var) */
  --default-primary: 30, 200, 120;

  /* Default sizes */
  --default-radius: 0.25rem;

  /* Configurable values with fallback to default */
  --component-primary: var(--primary, var(--default-primary));
  --component-radius: var(--radius, var(--default-radius));

  /* Common styles */
  --background-color-primary: rgba(var(--component-primary), 0.4);
  --border-color-primary: rgba(var(--component-primary), 0.9);
}
